<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Login and Signup Form</title>
</head>
<body>
<div class="wrapper">
	<div class="title-text">
	  <div class="title login">Login Form</div>
	  <div class="title signup">Signup Form</div>
	</div>
	<div class="form-container">
	  <div class="slide-controls">
		<input type="radio" name="slide" id="login" checked>
		<input type="radio" name="slide" id="signup">
		<label for="login" (click)="onLoginClick()" class="slide login">Login</label>
		<label for="signup" (click)="onSignupClick()" class="slide signup">Signup</label>
		<div class="slider-tab"></div>
	  </div>
	  <div class="form-inner">
		<form action="#" class="login" *ngIf="isLogin">
		  <div class="field">
			<input type="text" placeholder="Email Address" name="emailId" [(ngModel)]="emailId" required>
		  </div>
		  <div class="field">
			<input type="password" placeholder="Password" name="password" [(ngModel)]="password" required>
		  </div>
		  <div class="pass-link"><a href="#">Forgot password?</a></div>
		  <div class="field btn">
			<div class="btn-layer"></div>
			<input type="submit" (click)="onSubmit(emailId,password)" value="Login">
		  </div>
		  <div class="signup-link">Not a member? <a href="#">Signup now</a></div>
		</form>
		<form action="#" class="signup" *ngIf="isSignup">
		  <div class="field signup_field">
				<input type="text" placeholder="User Name" name="password" [(ngModel)]="password" required>
		  </div>
		  <div class="field signup_field">
			<input type="text" placeholder="Email Address" name="emailId" [(ngModel)]="emailId" required pattern="[a-zA-Z0-9._%+-]+@gmail\.com$">
		  </div>
		  <div class="field signup_field">
			<input type="password" placeholder="Password" name="password" [(ngModel)]="password" required>
		  </div>
		  <div class="field signup_field">
			<input type="password" placeholder="Confirm password" name="reEnteredPswd" [(ngModel)]="reEnteredPswd" required>
		  </div>
		  
		  <div class="field signup_field">
			<select id="dropdownField" name="role" [(ngModel)]="role" required>
			  <option value="default" disabled selected>Select Role</option>
			  <option value="AvEngineer" class="options">AV Engineers</option>
			  <option value="systemIntegrator" class="options">System Integrator</option>
			  <option value="oem" class="options">OEM</option>
			  <option value="client" class="options">Client</option>
			  <option value="consultants" class="options">Consultants</option>
			  <option value="distributor" class="options">Distributor</option>
			</select>
		  </div>
            <p class="invalid_msg">{{ invalidMsg }}</p>
		  <div class="field btn">
			<div class="btn-layer"></div>
			<input type="submit" (click)="onSignUp(emailId,password,role, reEnteredPswd)" value="Signup">
		  </div>
		</form>
	  </div>
	</div>
  </div>

  <ng-template #myDialog>
    <mat-dialog-content class="d-flex align-items-center justify-content-center">
        <div class="cancel_Icon">
            <i class="fa fa-close"></i>
        </div>
        <p class="error_headline">Login Failed</p>
    </mat-dialog-content>
    <p class="error_message">{{ errorMsg }}</p>
    <mat-dialog-actions align="center" class="d-flex justify-content-center" style="margin-top: -20px;">
        <button [mat-dialog-close]="true" class="btn btn-warning retry_Button">Retry</button>
    </mat-dialog-actions>
</ng-template>

  
    <app-spinner *ngIf="showSpinner"></app-spinner>
  </body>
</html>